<!doctype html>
<html lang="cs">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WDZMNLK');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signals</title>

    <!-- Bootstrap core CSS -->
    <link href="https://www.signals.cz/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://www.signals.cz/dist/css/bootstrap-reboot.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .table.freeze-col > thead:first-child > tr:first-child > th:first-child {
            position: absolute;
            display: inline-block;
            #background-color: #ff0000;
            height: 100%;
        }

        .table.freeze-col > tbody > tr > td:first-child {
            position: absolute;
            display: inline-block;
            #background-color: red;
            height: 100%;
        }

        .table.freeze-col > thead:first-child > tr:first-child > th:nth-child(2) {
            padding-left: 40px;
        }

        .table.freeze-col > tbody > tr > td:nth-child(2) {
            padding-left: 50px !important;
        }

        tr.blank-row td, tr.blank-row th { margin: 0px; padding: 0px; height: 15px; }

        .row.bottom-buffer { margin-bottom: 1em; }
    </style>
    <script>
      Object.flatten = function(data) {
        var result = {};
        function recurse (cur, prop) {
          if (Object(cur) !== cur) {
            result[prop] = cur;
          } else if (Array.isArray(cur)) {
            for(var i=0, l=cur.length; i<l; i++)
              recurse(cur[i], prop + "[" + i + "]");
            if (l == 0)
              result[prop] = [];
          } else {
            var isEmpty = true;
            for (var p in cur) {
              isEmpty = false;
              recurse(cur[p], prop ? prop+"."+p : p);
            }
            if (isEmpty && prop)
              result[prop] = {};
          }
        }
        recurse(data, "");
        return result;
      }

    </script>
</head>
<body>
<script>

  Vue.component('smart-cell', {
    props:['type','data','options'],
    data: function (){ return {
      types: {
        "text": {  }
      }
    }},
    computed: {
      content: function (){
        switch (this.type) {
          case "text": return this.data;
          default:
            switch (this.options.transform) {
              case "boolean":
                return (this.data ? "exists" : "missing");
              case "coma-separated-list":
                if (typeof this.data == 'object') { return (this.data.join(', ')); }
                else { console.log(typeof this.data); return this.data; }

              default: return this.data;
            }


        }
      },
      clases: function () {
        if (this.options.transform == 'boolean') {
          return this.data ? "table-success" : "table-danger";
        }
      }
    },
    template: '<td :class="clases">' +
        '{{content}}' +
        '</td>'
  });

  Vue.component('analysis-row', {
    props:['type','testResults', 'options'],
    data: function (){ return {
      types: {
        "blank": { title: "" },
        "header": { title: "URL" },
        "event_exists": { title: "_options:event" },
        "data_exists": { title: "_options:dataLayerVariable" },
        "gtm_ids": { title: "GTM snippet" }
      },
      cells: [],
      columns: [],
      updateKey: null
    }},
    watch: {
      "testResults": function(o,n) {
        if (o!==n) { this.call_update(); }
      }
    },
    created: function() {
      this.call_update();
    },
    updated: function() {
      this.call_update();
    },
    computed: {
      title: function () {
        switch (this.types[this.type].title) {
          case "_options:event": return this.options.event;
          case "_options:dataLayerVariable": return this.options.dataLayerVariable;
        }
        return this.types[this.type].title;
      },
      total_columns: function() {
        return this.columns.length+1;
      }
    },
    methods: {
      call_update: function () {
//        console.log(this.testResults);
        this.columns = Object.keys(this.testResults);

        if (typeof this.testResults !== 'object') {
          console.error(this.testResults);
          this.testResults = {};
        }
        this['type_'+this.type]();
      },
      type_blank: function () {},
      type_header: function () {
        this.cells = this.columns.map((e) => {return {data: this.testResults[e].url, options:{}} });
      },
      type_event_exists: function () {
        this.cells = this.columns.map((e) => {
          let dl = (this.testResults[e].results || {}).FulldataLayer || [];
          let event = this.options.event;
          let count = dl.filter((i) => { return (i || {}).event == event; }).length;
          let res = "";
          switch (this.options.result) {
            case "boolean": res = (count > 0); break;
            case "count": res = count; break;
          }
          return {data: res, options: { transform: this.options.result }}
        });
      },
      type_data_exists: function () {
        this.cells = this.columns.map((e) => {
          let dlv = this.options.dataLayerVariable;

          switch (this.options.result) {
            case "boolean": res = (this.findIndataLayerData(this.testResults[e], dlv) ); break;
            case "count": res = (this.findIndataLayerData(this.testResults[e], dlv, true) || []).length; break;
            case "count-distinct": res = (this.findIndataLayerData(this.testResults[e], dlv, true) || []).filter((v, i, a) => a.indexOf(v) === i).length; break;
          }
          return {data: res, options: { transform: this.options.result }}
        });
      },
      type_gtm_ids: function () {
        this.cells = this.columns.map((e) => {
          let gtmc = (this.testResults[e].results || {}).GTMContainers || [];
          let ids = gtmc.map((e) => { return e.ContainerId; });
          return {data: ids, options:{ transform: 'coma-separated-list' }}
        });
      },
      findIndataLayerData: function (resultDataItem, needle, all) {
        all = all || false;
        let res = [];
        let dlvData = (resultDataItem.results || {}).FulldataLayer || [];
        for ( var i in dlvData) {
          let row = Object.flatten(dlvData[i]);
          if (typeof row[needle] !== 'undefined') { if (all) { res.push(row[needle]); } else { return row[needle]; } }
        }
        if (res.length == 0) { res = false; }
        return res;
      }
    },
    template: '<tr v-if="type==\'blank\'" class="blank-row"><th></th><td :colspan="total_columns-1"></td></tr>' +
        '<tr v-else :key="updateKey">' +
        '<th>{{title}}</th>' +
        '<smart-cell v-bind:type="this.type" v-for="cell in cells" :key="cell.url" v-bind:data="cell.data" v-bind:options="cell.options"></smart-cell>' +
        '</tr>'
  });

  Vue.component('empty-row',{
    props:['testResults'],
    computed: {
      columns: function () { }
    },
    template: '<tr class="blank-row"></tr>'
  });

  Vue.component('results-view',{
    props: ['testResults'],
    data: function () {
      return {
        updateKey: null,
      }
    },
    updated: function (){
      this.updateKey = Date.now();
    },
    template:'<div><h3>Tabulka</h3>' +
        '<table class="table freeze-col table-bordered table-sm">' +
        '<tbody>' +
        '<analysis-row type="header" options="" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="gtm_ids" :options="{}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'page_body\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'page_ready\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.id\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.uid\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.dmpid\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.loginStatus\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.loginType\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.premiumStatus\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'user.internal\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.service.entity\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.service.name\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.service.type\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.service.version\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.service.environment\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.systemId\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.userDBId\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.adBlockStatus\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.errorType\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.isPremium\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'app.tracking.lookForLists\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'page.type\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'page.layoutId\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'page.pagination.type\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'page.pagination.pageCount\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'page.pagination.page\',\'result\':\'boolean\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.versionId\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.title\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.category\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.part\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.parts\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.author\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.published\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.premium\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.contents\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.safety\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.comments.count\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'article.comments.allowed\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'gallery.type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'gallery.content.id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'gallery.content.name\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'gallery.content.imageCount\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'gallery.position\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="event_exists" :options="{\'event\':\'page_visibility_hide\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'page_visibility_show\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'page_unload\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'page_next\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'page_previous\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'gallery_open\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'gallery_next\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'gallery_previous\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'gallery_scroll\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'gallery_close\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'articlePart_next\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'articlePart_previous\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'scrollTo_article_part_end\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'scrollTo_article_end\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'scrollTo_article_premium_lock\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'list_itemView\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'list_itemClick\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'social_interaction\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'ad_impression\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'ad_visible_impression\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'ad_click\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'ad_refresh\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_start\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_loaded\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_play\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_progress\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_skippable\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_click\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_skip\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_end\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_buffering\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_resume\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_ads_error\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_play\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_progress\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_pause\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_resume\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_seeking\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_10sback\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_buffering\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_end\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_next\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_favourites_add\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_favourites_remove\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_recommendation_open\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_sharing_open\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_error\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_settings_change_mute\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_settings_change_resolution\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_settings_change_autoplay\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_settings_change_fullscreen\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'player_settings_change_chromecast\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_login_start\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_login_attempt\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_login_acsess\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_login_success\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_login_error\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_logout_start\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_logout_success\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_renewPassword_start\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_renewPassword_sent\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_renewPassword_emailClick\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="event_exists" :options="{\'event\':\'user_renewPassword_success\',\'result\':\'count\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.elementId\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.list\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.colset\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.position\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.systemId\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.versionId\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.title\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.category\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.author\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.premium\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'item.url\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'ad.id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'ad.type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'ad.slot\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'ad.position\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'ad.adserving\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'ad.adservingTimestamp\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.app\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.variant\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.error\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.currentAd.id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.currentAd.position\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.list[0].id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.list[0].length\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.list[0].skipAfter\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.list[0].type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.list[0].slot\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.ads.list[0].position\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.id\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.title\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.category\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.author\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.show\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.episode\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.genre\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.published\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.premium\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.safety\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.resolution\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.autoplay\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.content.fullscreen\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.time.length\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.time.position\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.time.playtime\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'player.time.currentTimestamp\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'social.action\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'social.platform\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'error.type\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +
        '<analysis-row type="data_exists" :options="{\'dataLayerVariable\':\'error.message\',\'result\':\'count-distinct\'}" v-bind="$props" :key="updateKey"></analysis-row>' +

        '<analysis-row type="blank" v-bind="$props" :key="updateKey"></analysis-row>' +

        '</tbody>' +
        '</table>' +
        '</div>'
  });
</script>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand"></h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="https://www.signals.cz/">Signals.cz</a>
            </nav>
        </div>
    </header>

    <div class="container-fluid">
        <h1>GTM pages checker</h1>

<div id="app">
    <div class="row bottom-buffer">
        <div class="col">
            <div v-if="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
        </div>
    </div>
    <div class="row bottom-buffer">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Seznam URL</h2>
                    <form>
                        <div class="form-group">
                            <label for="ta_urls">URLs here:</label>
                            <textarea v-model="inputUrls" class="form-control" id="ta_urls" rows="10"></textarea>
                        </div>
                        <button v-on:click="runTest" type="button" class="btn btn-primary">Run Test</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div v-if="status.message" class="row bottom-buffer">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div v-if="status.type == 'ok' && status.message" class="alert alert-primary">{{status.message}}</div>
                    <div v-if="status.type == 'success' && status.message" class="alert alert-success">{{status.message}}</div>
                    <div v-if="status.type == 'error' && status.message" class="alert alert-danger">{{status.message}}</div>
                </div>
            </div>
        </div>
    </div>
    <div v-if="testResults_count > 0" class="row bottom-buffer">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Výsledek</h2>
                    <div v-for="url in urlsList" class="card">
                        <div class="card-body">{{ url }}</div>
                    </div>
                    <results-view v-bind:test-results="testResults" :key="testResults_count"></results-view>
                </div>
            </div>
        </div>
    </div>
    <div class="row bottom-buffer" style="display: none">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <pre>{{testResults}}</pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

  var app = new Vue({
    "el": '#app',
    "data":  {
      "message": 'Hello Vue!',
      "inProgress": false,
      "errorMessage": "",
      "inputUrls": "https://www.signals.cz/",
      "urlsList": [],
      "status":{"type":"ok", "message":""},
      "displayResult": false,
      "testResults": {},
      "testResults_count": 0,
      "testQueue": {
        "list":[],
        "status":"new",
        "position":0
      }
    },
    computed: {
      currentTestResults: function () { return this.testResults; },
      resultsJSON: function () { return JSON.stringify(this.currentTestResults, null, 2); }
    },
    methods: {
      runTest: function () {
        if (this.inProgress) {
          this.errorMessage = "Čekej, asi to ještě běží... :-)";
          return false;
        }
        this.inProgress = true;
        this.resetTestResults();
        this.testQueue.position = 0;
        let urls = this.inputUrls.split('\n');
        this.testQueue.list = urls;
        this.testNext();
        this.inProgress = false;
      },
      testNext: function() {
        if (this.testQueue.position >= this.testQueue.list.length) {
          this.status = {"type":"success", "message":"Hotovo"};
          window.localStorage.setItem("lastResult", JSON.stringify(this.testResults));
          return false;
        }
        this.status = {"type":"ok", "message":"Stahuju"};
        this.getTest(this.testQueue.list[this.testQueue.position]);
        this.testQueue.position++;
      },
      getTest: function(testUrl) {
        axios.get('https://europe-west3-signalscz.cloudfunctions.net/tracking-tester-cnc', {
          params: {
            url: testUrl,
            responseFormat: 'json'
          }
        })
        .then((response) => {
          this.displayResult = true;
          this.status = {"type":"ok", "message":"Staženo"};
          if (typeof response.data == 'object') {
            this.addTestResult(response.data);
            //window.localStorage.setItem("lastResult", JSON.stringify(response.data));
          }
          console.log(response);
        })
        .catch((e) => {
          console.error(e);
          this.status = {"type":"error", "message":e};
        })
        .then(() => {
          this.testNext();
        });
      },
      addTestResult: function (data) {
        if (!data.url) { return; }
        this.testResults[data.url] = data;
        this.testResults_count = Object.keys(this.testResults).length;
      },
      resetTestResults: function () {
        this.testResults = {};
        this.testResults_count = 0;
      }
    },
    mounted: function () {
      let lr = window.localStorage.getItem("lastResult");
      try {
        lr = JSON.parse(lr);
        this.testResults = lr;
        this.testResults_count = Object.keys(this.testResults).length;
        this.inputUrls = Object.keys(this.testResults).join('\n');
      } catch (e) {
        console.error(e);
      }
    }
  });
</script>
    </div>
</div>

</body>
</html>
